$color-brown-gradient: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-light-xl: #FFFFFF;
$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-dark-s: #CDCDCD;
$color-dark-l: #545454;
$color-dark-m: #B2B2B2;
$color-dark-3xl: #292929;
$color-overlay: rgba(41, 41, 41, 0.6);

$content-width: 1280px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$modile-small-width: 320px;


$margin-top: 80px;

