
.about {
    background: $color-light-xl;
    padding: 80px 0 90px 0;
    @include media-tablet {
        padding: 81px 0 100px 0;
    }
    @include media-mobilesmall {
        padding: 42px 10px 42px 10px;
        text-align: center;
    }
}
.about__wrapper {
    display: flex;
    justify-content: center;
    @include media-tablet {
        flex-direction: column-reverse;
        align-items: center;
    }
    @include media-mobilesmall {
        flex-direction: column-reverse;
        align-items: center;
    }
    
}
.about__image {
    background-image: url('../assets/images/about-pets.png');
    background-repeat: no-repeat;
    width: 300px;
    height: 408px;
    @include media-mobilesmall {
        background-image: url('../assets/images/about-pets-small.png');
        width: 260px;
        height: 353.6px;
    }
}
.about__content {
    margin-left: 120px;
    @include media-tablet {
        margin-left: 0;
        margin-bottom: 57px;
        margin-top: -2px;
    }
    @include media-mobilesmall {
        margin-left: 0;
        margin-bottom: 17px;
    }
}
.about__title {
    margin: 13px 0 24px 0;
    @include media-tablet {
        margin: 0 0 24px 0;
    }
    @include media-mobilesmall {
        margin: 0 0 25px 0;
    }
}
.about__text{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    max-width: 430px;
    line-height: 160%;
    margin: 0 0 25px 0;
    padding:0;
    @include media-mobilesmall {
        text-align: justify;
        margin: 0 15px 22px 15px;
    }
}
