.help {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-light-xl;    
}
.help__wrapper { 
    text-align: center;
    .help-list {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        margin-bottom: 47px;
        max-width: 100%;
        height: auto;
        @include media-tablet {
            margin-bottom: 43px;
        }
        @include media-mobilesmall {
            padding: 0 15px;
            margin-bottom: 43px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            column-gap: 34px;
            row-gap: 31px;
        }
        .help-icon {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 60px 55px 60px;
            @include media-tablet {
                width: 154px;
                margin: 0 38px 55px 38px;
            }
            @include media-mobilesmall {
                margin: 0;
                justify-self: center;
            }
        }
        .help__image {
            margin-bottom: 30px;
            height: 60px;
            @include media-mobilesmall {
             height: 50px;
             margin-bottom: 20px;
            }
        }
    
        p {
            
            font-size: 20px;
            font-family:Georgia, 'Times New Roman', Times, serif;
            letter-spacing: 0.06em;
            @include media-mobilesmall {
                @include font($size: 15px, $height: 110%);
            }
        }

    }
    
}
.help__title {
    margin-top: 80px;
    margin-bottom: 59px;
    width: 100%;
    @include media-mobilesmall {
        margin-bottom: 41px;
        margin-top: 41px;
    }
}

