@font-face {
  font-family: 'Arial';
  src: url("../fonts/arial-regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Georgia';
  src: url("../fonts/georgia-regular.ttf");
  font-weight: 400;
}
